<h1>編集</h1>

<table>
  <thead>
    <tr>
      <h2>物件編集</h2>
    </tr>
  </thead>
<%= render 'form', rent_property: @rent_property %>

<%= link_to '詳細', @rent_property %> |
<%= link_to '戻る', rent_properties_path %>
